{% extends "base.html" %}
<!--Takes the code from base but overwrites it with the code you type in here-->
{% block title %}Home{% endblock %}
{% block body %}
<div style="
  position: absolute;
  top: 150px;
  right: 100px;
  width: 300px;
  height: 600px;
  border: 3px solid black;      
  ">    
    <h3 style="color: #FF7F50;">About Us</h3>
    <p1>
        After months of complaining to the banking website that their website wasn't secure enough, we took it to our own hands. <br><br>
        We started as a small development team with only five people with one goal security over beauty. <br><br>
        After months of hard work we started to realise that No Technology That's Connected To The Internet Is Unhackable. <br><br><br>
    </p1>
    <h6>So please don't store your money here!</h6>
</div>


<div style="
  position: absolute;
  top: 150px;
  right: 1200px;
  width: 500px;
  height: 200px;
  border: 3px solid black;      
  ">
  <h3 style="color: #FF7F50;">We would like to have you as our customer!</h3>
  <br>
  <p4>Pssssst! We have a sign-up bonus up to 1 million dollars</p4>
  <br>
  <br>
  <button class="btn btn-lg btn-block btn-dark" onclick="window.location.href='/sign-up'">Become a customer now!</button>
  
</div>
<div style="
  position: absolute;
  top: 500px;
  right: 1200px;
  width: 250px;
  height: 250px;
    ">
    <img src="{{url_for('static', filename='family.png')}}" style="position: absolute; width: 600px; height: 400px;">
</div>

<div style="
  position: absolute;
  top: 250px;
  right: 600px;
  width: 400px;
  height: 325px;
  border: 3px solid black;      
  ">    
    <h3 style="color: #FF7F50;">Take up loan with 0% Interest!</h3>
    <p2>I know it sounds too far fetched, <br> but <a style="color: #FF7F50;" href="/sign-up">Sign-Up</a> or <a style="color: #FF7F50;" href="/login">Log in</a> to find out!</p2>

<div class="col-sm-12" style="background-color: rgb(97, 186, 238); margin-top: 50pt;">
    <div class="bg-text">
        <div style="width: 35%; float: left;">
        <h3> Velkommen til oss!</h3>
        <p style="font-family: Georgia, 'Times New Roman', Times, serif;">
            Alle har banker de er ufornøyd med, skulle det være mangel av sikkerhet eller tilgjengelighet eller brukervennlighet.
            Her i Bank A løser vi alle disse problemene for deg! Som en enkel og trygg bank tilbyr vi deg en plass du kan spare opp pengene
            og kalle et hjem. Vi har alltid oppdatert teknologi til sikkerhet og vi fokuserer alltid på kundene! Sett opp din egen bank hos Bank A idag! 
        </p> 
        </div>
        <img src="{{url_for('static', filename='Diverse_smiles.jpeg')}}" style="width: 62%; opacity: 70%; float: right;">
    </div>
</div>

<div style="
  position: absolute;
  top: 350px;
  right: 700px;
  width: 250px;
  height: 250px;
    ">
    <img src="{{url_for('static', filename='money.png')}}" style="position: absolute; width: 150px; height: 150px;">
</div>
{% endblock %}