{% extends "base.html" %}
<!--Takes the code from base but overwrites it with the code you type in here-->
{% block title %}<h1> Home </h1>{% endblock %}
{% block body %}

<div style="background-color: gray; width:100%; height: auto;" class="col-12">

  <div style="background-color: rgb(155, 153, 153); height: 40%; margin-right:25pt" class="col-6">
    Mer Text 
  </div>

  <img src="{{url_for('static', filename='Diverse_smiles.jpeg')}}" style="background-color: rgb(226, 164, 164); height: 40%; float: right; padding: 3px;" class="col-5"> 



{% endblock %}