{% extends "base.html" %}
<!--Takes the code from base but overwrites it with the code you type in here-->

=======
{% block logout %}
        <a class="nav-item nav-link float-right" id="home" href="/logout" >Logout</a>
{% endblock %}

{% block title %}Home{% endblock %}
{% block body %}
<div style="
  position: absolute;
  top: 150px;
  right: 1200px;
  width: 500px;
  height: 200px;
  border: 3px solid black;      
  ">
  <h3 style="color: #FF7F50;">Start building your wealth</h3>
  <br>
  <button class="btn btn-lg btn-block btn-dark" onclick="window.location.href='/transaction'">Build Wealth!</button>
</div>


<h1 style="color:white; text-align: center;">
    Velkommen, {{ current_user }}!
</h1>
  
  <div class="col-sm-12" style="background-color: darkslategray; opacity: 60%;">
   <form>
      <p style="color: white">
          <label>Account n: </label> <label> PENGER HER </label>
      </p>
  </form>
  </div>

  {% endblock %}
  

