{% extends "base.html" %}
<!--Takes the code from base but overwrites it with the code you type in here-->

=======
{% block logout %}
        <a class="nav-item nav-link float-right" id="home" href="/logout" >Logout</a>
{% endblock %}

{% block title %}Home{% endblock %}
{% block body %}



<h1 style="color:black; text-align: center;">
    Velkommen, {{ current_user }}!
</h1>
  
  <div class="col-sm-12" style="background-color: darkslategray; opacity: 60%;">
   <form>
      <p style="color: white">
          <label>Account n: </label>  <br><label> Saldo: {{ saldo }}kr </label>
          <a href="/atm">
              <input type="button" value="Add money" />
          </a>
      </p>
  </form>
  </div>
</div>

  {% endblock %}
  

