{% extends "base.html" %}
<!--Takes the code from base but overwrites it with the code you type in here-->
{% block logout %}
        <a class="nav-item nav-link float-right" id="home" href="/logout" >Logout</a>
{% endblock %}
{% block title %}<h1> Home </h1>{% endblock %}
{% block body %}

<h1 style="color: darkslategray;">
    This is the home page, {{ current_user }}!
  </h1>
  
  <div class="bank-accounts" style="width: 50%; height: auto;">
   <form>
      <p>
          <label>Account n: </label> <label> PENGER HER </label>
      </p>
  </form>
  </div>

  {% endblock %}
  
