* {box-sizing: border-box;}
.col-1 {width:8.33%;}
.col-2 {width:16.66%;}
.col-3 {width:25%;}
.col-4 {width:33.33%;}
.col-5 {width:41.66%;}
.col-6 {width:50%;}
.col-7 {width:58.33%;}
.col-8 {width:66.66%;}
.col-9 {width:75%;}
.col-10 {width:83.33%;}
.col-11 {width:91.66%;}
.col-12 {width:100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid rgb(0, 0, 0); }

.aside{ 
    background-color: #33b5e5; 
    padding:15px; 
    color:#ffffff; 
    text-align: left; 
    font-size: 14px;  
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24); 
} 

.wrapper{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  padding: 20px;
}

.about{
  grid-column: 1;
  grid-row: 2;
  padding: 4px;
  border: 3px solid black;

}

.signup{
  grid-column: 1;
  grid-row: 1;
  padding: 4px;
  border: 3px solid black;
}

.loan{
  grid-column: 2/4;
  grid-row: 1;
  padding: 4px;
  border: 3px solid black;
}

.family{
  
  width: 600px;
  height: 450px;
  left: 0px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}

.wealth{
  grid-column: 4;
  grid-row: 2;
  padding: 4px;
  border: 3px solid black
}

.wealthpic{
  width: 340px;
  height: 200px;
  left: 125px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;

}

.moneypic{
  width: 340px;
  height: 300px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;

}


  
  img{
    position: absolute;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
  }
